#python 3.14.3
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
cffi==2.0.0
cryptography==46.0.4
linkify-it-py==2.0.3
markdown-it-py==4.0.0
mdurl==0.1.2
packaging==26.0
pycparser==3.0
PySide6==6.10.2
PySide6_Addons==6.10.2
PySide6_Essentials==6.10.2
QMarkdownWidget==1.2.1
#Maybe some Markdown later
QtAwesome==1.4.1
QtPy==2.4.3
RapidFuzz==3.14.3
shiboken6==6.10.2
uc-micro-py==1.0.3
